<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script>
  // var data = [1, 2, 3, 4];
  // var newData = data.map(function(v,i,arr){
  // console.log(v);
  // console.log(i);
  // console.log(arr);
  // return i*i
  // })
  // console.log(newData)

  // var sum = 0;
  // var array = [1, 2, 3, 4];
  // array.forEach(function (v, i, arr) {
  //   console.log(v);
  //   console.log(i);
  //   console.log(arr);
  //   sum += v
  // })
  // console.log(sum)



  // var data = [0, 1, 2, 3];
  // var arrayFilter = data.filter(function(item) {
  //   console.log(0==true)
  //   return item;
  // });
  // console.log(arrayFilter); // [1, 2, 3]


  // console.log("gfkjasgdfagl".indexOf("S"));
  // console.log("gfkjasgdfagl".indexOf("m"));
  // console.log("gfkjasgdfagl".indexOf("jd"));
  // console.log("gfkjasgdfagl".indexOf("jasg"));
  // console.log("gfkjasgdfagl".substring(3));
  // console.log("gfkjasgdfagl".substring(3,5));

  var data = [2, 5, 7, 3, 5,6,9,5,2,8,7,3,6,5];
  console.log(data.lastIndexOf(5)); // 4
</script>
</body>
</html>
