<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>test</title>
</head>

<body>
<div id="app">
  <!--<p> {{msg}}</p>-->
 <!--<hello title="标题" content="内容">{{abc}}</hello>-->
</div>

<script src="vue.js"></script>
<script>



  var vm = new Vue({
    el: "#app",
    data: {
      // msg: "ninhgjk",

    }
  });

  // Vue.component("hello",{
  // props:["title","content"],
  // data(){
  //   return{
  //     abc:"123"
  //   }
  // },
  // template:`<div><p>{{title}}</p><p>{{content}}</p><p>{{abc}}</p></div>`
// })


</script>
</body>

</html>
